<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    {% for product in carousel_products %}
      <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for product in carousel_products %}
      <div class="{% if loop.first %}active{% endif %} item"><img src="{{ product.image_url }}" /></div>
    {% endfor %}
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
