<div class="status">
  <span class="quantity"><i class="icon icon-shopping-cart"></i> {% include "store/cart_status.html" %}</span>
  {% include "store/cart_checkout_btn.html" %}
</div>
<div class="collaspable">
  {% if g.cart.created and g.cart.items|length > 0 %}
    <div class="body clearfix">
      <table class="items">
        {% for item in g.cart.items %}
          <tr data-asin="{{ item.ASIN }}" data-itemid="{{ item.id }}" data-modify-url="{{ url_for('.update_cart_item', item_id=item.id) }}" {% if item.variation.image_url %}data-imageurl="{{ item.variation.image_url }}"{% endif %}>
            <td class="name"><a href="{{ url_for('.show_product', product_id=item.product.id, slug=item.product.slug) }}" title="{{ item.variation.name }}">{{ item.product.fullname|truncate(25) }}</a></td>
            <td class="quantity"><input type="text" value="{{ item.quantity }}" /></td>
            <td class="price">{{ item.unit_formated_price }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="footer clearfix">
      Total <span class="total">{{ g.cart.formated_price }}</span>
    </div>
  {% else %}
    <div class="body clearfix">
      <p>
        Start shopping by adding products to your cart.
      </p>
    </div>
  {% endif %}
</div>
